mvc/Service References/ServiceReference1/Myservice1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employer" nillable="true" type="tns:Employer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployer" nillable="true" type="tns:ArrayOfEmployer" />
  <xs:complexType name="Employer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marketings" nillable="true" type="tns:ArrayOfMarketing" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="instructor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isconsultant" type="xs:boolean" />
      <xs:element minOccurs="0" name="optstartdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="optstatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="technology" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employer" nillable="true" type="tns:Employer" />
  <xs:complexType name="ArrayOfMarketing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Marketing" nillable="true" type="tns:Marketing" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarketing" nillable="true" type="tns:ArrayOfMarketing" />
  <xs:complexType name="Marketing">
    <xs:sequence>
      <xs:element minOccurs="0" name="Eid" type="xs:int" />
      <xs:element minOccurs="0" name="Employer" nillable="true" type="tns:Employer" />
      <xs:element minOccurs="0" name="mid" type="xs:int" />
      <xs:element minOccurs="0" name="optstartdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="optstatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Marketing" nillable="true" type="tns:Marketing" />
</xs:schema>